<template>
  <div class="authenticationPage">
    <authenticationContainer>
      <Login class="authenticationPage-form"/>
    </authenticationContainer>
  </div>
</template>

<script>
import { Login } from '@/views'
import { authenticationContainer } from '@/containers'

export default{
  name: 'authenticationPage',
  components: {
    Login, 
    authenticationContainer
  },
}
</script>

<style lang="sass" scoped>
.authenticationPage
  &-form
    display: flex
    flex-direction: column
    justify-content: center
</style>