<template>
  <div class="authenticationContainer">
    <el-row :gutter="10" class="authenticationContainer-row">
      <el-col :xs="20" :sm="20" :md="8" :lg="8" :xl="8" :offset="2" class="authenticationContainer-col authenticationContainer-col__left">
        <div class="authenticationContainer-header">
          <h1 class="authenticationContainer-title">MyQuiz</h1>
        </div>
        <slot></slot>
      </el-col>
      <el-col :xs="0" :sm="0" :md="12" :lg="12" :xl="12" :offset="2" class="authenticationContainer-col authenticationContainer-col__right hidden-xs-only hidden-sm-only">
        <img :src="image" :alt="title" class="authenticationContainer-img">
      </el-col>
    </el-row>
  </div>
</template>

<script>
import startimg from '@/assets/start-page.png'
import 'element-ui/lib/theme-chalk/display.css'

export default{
  name: 'authenticationContainer',
  data(){
    return{
      image: startimg,
      title: ''
    }
  }
}
</script>

<style lang="sass" scoped>
.authenticationContainer
  &-row
    display: flex
    flex-direction: row
    justify-content: flex-start
    margin-left: 0 !important
    margin-right: 0 !important
  &-col
    padding: 0 !important
    @media screen and (max-width: 512px)
      height: 85vh
    &__left
      display: flex
      flex-direction: column
      height: 75vh
      justify-content: space-around
      @media screen and (max-width: 512px)
        font-size: 13px
        height: 85vh
      @media screen and (orientation: landscape) and (max-height: 414px)
        height: 95vh
      @media screen and (orientation: landscape) and (max-height: 360px)
        height: 98vh
        font-size: 13px
    &__right
      display: flex
      align-items: center
      justify-content: center
  &-header
    display: flex
  &-title
    font-size: 18px
    font-weight: bold
    @media screen and (max-width: 512px)
      font-size: 16px
      margin-bottom: 30px
    @media screen and (orientation: landscape) and (max-height: 414px)
      font-size: 14px
      margin: 10px 0 0 0
  &-img
    width: 100%
    height: 100vh
    object-fit: cover
</style>
