<template>
  <div id="app">
    <Authentication/>
  </div>
</template>

<script>
import { Authentication } from '@/pages';

export default {
  name: 'App',
  components: {
    Authentication
  }
}
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap')
body
  margin: 0
  overflow: hidden
  max-width: 100vw
  max-height: 100vh
#app
  /* font-family: Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'Montserrat', sans-serif !important
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  text-align: center
  color: #2c3e50
</style>
