<template>
  <div class="loginPage">
    <div class="loginPage-head">
      <h2>Вход в личный кабинет</h2>
    </div>
    <el-form ref="loginForm" :model="loginForm" class="loginPage-form">
      <el-form-item prop="email" class="loginPage-input">
        <el-input placeholder="Email" v-model="loginForm.email"></el-input>
      </el-form-item>
      <el-form-item prop="password" class="loginPage-input">
        <el-input placeholder="Пароль" v-model="loginForm.password"></el-input>
      </el-form-item>
      <el-form-item class="loginPage-input loginPage-input__btn">
        <div class="loginPage-btn">
          <el-button class="loginPage-loginbtn">Войти</el-button>
          <el-button type="text">Забыли пароль?</el-button>
        </div>
      </el-form-item>
    </el-form>
    <div class="loginPage-signup">
        <p>Впервые на сайте?</p>
        <el-button type="text" class="loginPage-authbtn">Зарегистрироваться</el-button>
    </div>
  </div>
</template>


<script>

export default{
  name: 'login',
  data() {
    return {
      loginForm: {
        email: '',
        password: '',
      }
    }
  }
}

</script>

<style lang="sass" scoped>
.loginPage
  @media screen and (max-width: 512px), screen and (orientation: landscape) and (max-height: 414px)
    font-size: 13px
  &-head
    display: flex
  h2
    font-size: 21px 
    font-weight: normal
    @media screen and (max-width: 512px)
      font-size: 18px    
    @media screen and (orientation: landscape) and (max-height: 414px)
      font-size: 16px
  &-form

  &-input
    @media screen and (max-width: 512px)
      margin-bottom: 15px !important
    @media screen and (orientation: landscape) and (max-height: 360px)
      margin-bottom: 12px !important
    &__btn
      @media screen and (orientation: landscape) and (max-height: 360px)
        margin-bottom: 0 !important
  &-btn
    display: flex
    flex-direction: column
    align-items: center
  &-loginbtn
    width: 40%
    margin: 0 auto
  &-signup
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
  &-authbtn
    @media screen and (max-width: 512px)
      font-size: 13px
</style>